.hero-banner {
    background-image: url(../../../images/grohs.jpg);
    object-fit: cover;
    zIndex: -1;
    height: 40em;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr  2fr 5fr 3fr;
    grid-template-rows: 2fr 4fr 3fr;
}


@media(max-width: 900px) {
    .hero-banner {
        grid-template-columns: 1fr;
    }
    .hero-content {

    }
    .hero-text{

    }
}
