body, html {
    height: 100%;
}

/* The hero image */
.hero-banner {
    background-image: url(../../../images/grohs.jpg);
  /* Set a specific height */
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  zIndex: -1;
}

/* Place text in the middle of the image */
.hero-content {
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .hero-content {
        margin: 1em !important;
    }
    .hero-content .truncate{
        display: none;
    }
    .hero-content .hidden {
        display: none;
    }
    .hero-content img{
        width: 8em;
    }
}
