.card {
    border: none !important;
    font-size: 0.9rem;
}
.card-body {
    padding: 0 !important;
}
.card-title {
    font-weight: bolder;
    font-size: 1rem;
}
.card-subtitle {
    font-weight: lighter;
    font-size: 0.8rem;
}
.autoren-container {
    justify-content: space-between;
}
.autoren-bio {
  width:100%;
  /**Major Properties**/
  overflow:hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
}

.autor-image {
    width:  250px;
    height: 300px;
    object-fit: cover;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card {
        width: 100% !important;
    }
    .card-body{
        width: 100% !important;
    }
    .autor-detail-container {
        flex-direction: column;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .autoren-container {
        flex-direction: column;
    }
    .card {
        width: 100% !important;
    }
    .card-body {
        width: 100% !important;
    }
    .card-body img{
        width: 95%;
    }
    .ipad-flex {
        display: flex;
    }
    .ipad-author-picture {
        width: 40%;
    }
    .ipad-author-bio {
        width: 60%;
    }
    .ipad-link {
        padding: 2em;
    }
}
