.autoren-bio {
    width: 80%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;

}

.card {
    border: none;
    background: none;
}

.card-body {
    padding: 0;
}
