body {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 0.9rem;
}

.inner-body {
    width: 95%;
    margin: 0 auto;
    padding: 1em;
}

a {
	color: #000 !important;
    text-decoration: none !important;
}

a:hover, a:active, a:focus {
    color: rgb(102,153,153) !important;
}
