body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 0.8rem;
}


.start-text {
    padding: 130px 50px 130px 52px;
}

.start-text p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.inner-body {
    width: 95%;
    margin: 0 auto;
    padding: 1em;
}

a {
	color: #000 !important;
    text-decoration: none !important;
}

a:hover, a:active, a:focus {
    color: rgb(102,153,153) !important;
}


.book-container img {
    width: 75%;
    box-shadow: 6px 6px 6px #c6c6c6;
}

.book-description {
  width:80%;
  /**Major Properties**/
  overflow:hidden;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
}
