body {
    width: 95%;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inner-body {
    border: 2px solid blue;
    width: 95%;
    margin: 0 auto;
    padding: 1em;
}

a {
	color: #000 !important;
    text-decoration: none !important;
}

a:hover, a:active, a:focus {
    color: rgb(102,153,153) !important;
}
