a {
	color: grey !important;
    text-decoration: none !important;
    padding: 0.3em;
    margin: 0 0.5em;
    font-weight: lighter;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.logo {

}

a:hover, a:active, a:focus {
    color: rgb(102,153,153) !important;
}

.navbar .container {
    padding: 0 1.23em;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

#navbar-container {
    max-width: 95%;
}
